<launch>
  <!-- <node name="APC_Monash" pkg="shell_simulation" type="APC_Monash" output="screen"/> -->

  <!-- scoring nodes -->
  <!-- <node name="score" pkg="shell_simulation" type="score.py" output="screen"/> -->

  <!-- <node name="efficiency" pkg="airsim_cpp" type="efficiency" output="screen"/>
  <node name="plot_eff" pkg="airsim_cpp" type="plot_eff.py" output="screen"/> -->

  <!-- <node name="efficiency" pkg="shell_simulation" type="efficiency.py" output="screen"/> -->

  <!-- solo -->
  <!-- <node name="control_master" pkg="airsim_py" type="control_master.py" output="screen"/> -->
  <!-- <node name="control_master" pkg="airsim_cpp" type="control_master" output="screen"/> -->

  <!-- cpp -->
  <!-- <node name="car_control" pkg="shell_simulation" type="car_control" output="screen"/> -->
  <!-- <node name="goals" pkg="shell_simulation" type="goals" output="screen"/> -->
  <!-- <node name="timer" pkg="shell_simulation" type="timer" output="screen"/> -->

  <!-- py -->
  <!-- <node name="timer" pkg="airsim_py" type="timer.py" output="screen"/>
  <node name="car_control" pkg="airsim_py" type="car_control" output="screen"/>
  <node name="goals" pkg="airsim_py" type="goals.py" output="screen"/> -->

  <node name="APC_Monash" pkg="shell_simulation" type="APC_Monash.py" output="screen"/>
  <node name="efficiency" pkg="shell_simulation" type="efficiency.py" output="screen"/>
  <node name="score" pkg="shell_simulation" type="score.py" output="screen"/>
  <!-- <node name="Coordinate_System" pkg="shell_simulation" type="Coordinate_System.py" output="screen"/> -->
  <!-- <node name="Movement_Control" pkg="shell_simulation" type="Movement_Control.py" output="screen"/> -->
  <!-- <node name="ROS_Communication" pkg="shell_simulation" type="ROS_Communication.py" output="screen"/> -->
  <!-- <node name="settings" pkg="shell_simulation" type="settings.py" output="screen"/> -->
  <!--<node name="APC_Monash" pkg="airsim_cpp" type="APC_Monash" output="screen"/> -->
</launch>
